<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1003101204181-k2b41rcljp5b80u67e42cm7nbbv8bf1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003101204181-k2b41rcljp5b80u67e42cm7nbbv8bf1r</string>
	<key>API_KEY</key>
	<string>AIzaSyAVZ-mRAEZyr0W28XwH8RM5_6HhXvRkSmw</string>
	<key>GCM_SENDER_ID</key>
	<string>1003101204181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulwoodiii.ToDoSquats</string>
	<key>PROJECT_ID</key>
	<string>todosquat</string>
	<key>STORAGE_BUCKET</key>
	<string>todosquat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003101204181:ios:91b92bd45e8efdac</string>
	<key>DATABASE_URL</key>
	<string>https://todosquat.firebaseio.com</string>
</dict>
</plist>